/*
 * USER DEFINED SYTLES
 */


/* - - - - - HEADER - - - - - - */
.navbar-item {
	list-style-type: none;
	display: inline-block;
	padding: 1em 1.5em;
	font-size: 2em;
}

.navbar-item a { text-decoration: none; }
.navbar-item a:hover { }

body { margin: 0; }

.navbar {
	background-color: #5cbddb;
	height: 7em;
	position: absolute;
	bottom: 0;
}

.navbar a {
	color: #fff;
	font-weight: 700;
}

ul, li {
	margin: 0;
}

.navbar * { text-align: center; }

.has-docked-nav .navbar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: auto;
    z-index: 9999;
}

/* - - - - - FOOTER - - - - - - */
.footer-map-container {
	width: 100%;
	background-image: url('https://api.mapbox.com/styles/v1/mapbox/satellite-v8/static/-123.099,38.405405,17,90,0/900x400?access_token=pk.eyJ1IjoiZGFuc3dpY2siLCJhIjoieUZiWmwtVSJ9.0cPQywdbPVmvHiHJ6NwdXA')	
}
/*classic static looks better - https://api.mapbox.com/v4/mapbox.satellite/-123.1002,38.4037,15/900x400@2x.png?access_token=pk.eyJ1IjoiZGFuc3dpY2siLCJhIjoieUZiWmwtVSJ9.0cPQywdbPVmvHiHJ6NwdXA*/

/* - - - - - LANDING - - - - - - */

#introduction {
	height: 100vh;
	padding-top: 4em;
}

#introduction .column { margin-left: 0; }

#introduction h4 {
	font-weight: 300;
	width: 430px;
}

#work {
	text-align: center;
}

#work .columns {
	
}

img.headshot {
	width: 360px;
	border-radius: 50%;
	margin: 2em auto;
}

.section {
	margin-top: 4em;
}

.section-header h2 {
	text-align: center;
}

#contact * {
	text-align: center;
}



/* - - - - - UTILITY - - - - - - */
.u-center {
	margin: 0 auto;
	display: block;
	text-align: center;
}