---
layout: default
---

{{ content }}

<div class="container">
	<div class="row">
		<div class="twelve columns">
			<div class="photos-container"></div>
		</div>
	</div>
</div>

{% include photo-grid.html %}
<script type="text/javascript">
	var flickrUserId = "{{site.flickr_user_ID}}";
	var albumAttribution = '<div class="album-attribution">Photographs &copy; {{page.attribution}}</div>';
	buildGalleryFromFlickrAlbum("{{site.flickr_api_key}}", "{{page.albumID}}", "{{site.flickr_user_ID}}");
</script>